.arduino/
.arduino15/
.bash_aliases
.bash_history
.bash_logout
.cache/
.config/.org.chromium.Chromium.ZEPnH0
.config/Autodesk/
.config/Code/
.config/GIMP/
.config/QtProject.conf
.config/QtProject/
.config/Slack/
.config/Southwest Research Institute/
.config/broot/launcher/bash/br.copy.2
.config/catkin/
.config/dconf/
.config/enchant/
.config/eog/
.config/evolution/
.config/gedit/
.config/gnome-initial-setup-done
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/ibus/
.config/libreoffice/
.config/mimeapps.list
.config/monitors.xml
.config/monitors.xml~
.config/nautilus/
.config/pulse/
.config/ros.org/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.designer/
.docker/
.gnupg/
.java/
.local/
.mozilla/
.oracle_jre_usage/
.pki/
.profile
.python_history
.ros/
.rosconsole
.rviz/
.selected_editor
.ssh/
.sudo_as_admin_successful
.vim/after/ftplugin/.python_pydiction.vim.swp
.viminfo
.vscode/
11-arduino_controller.rules
76-dynamixel_arm.rules
97-rplidar-head.rules
Applications/
Arduino/
Desktop/
Documents/
Downloads/
EAGLE/
Pictures/
Videos/
__pycache__/
all_rules.txt
catkin_ws/
config-old/
configs_copy/
data/
in_use.txt
peanut_ws/
rules_list.txt
sketchbook/
snap/
teb/
test.sh
test.txt
test/
udev.sh

.c
.config/cef_user_data/
.config/dconf.bak/
.config/filezilla/
.config/gnome-control-center/
.config/unity3d/
.config/yelp/
.inputrc
.minecraft/
.pulse-cookie
.steam/
.steampath
.steampid
.swn
.swo
.swp
.test.txt.swp
.tldr/
.v
.viminfo.tmp
.wget-hsts
.zcompdump
.zsh_history
.zshrc
1
10
22_03_14_CE_01.mp3
22_03_14_CE_02_kids_in_sweden.mp3
22_03_14_CE_03_short.mp3
22_03_14_CE_04_short.mp3
22_03_15_BBE_01.mp3
22_03_15_BBE_02.mp3
22_03_29_BBE3.mp3
22_03_29_BBE3.wav
Doc
Jobs/
Projects/
Steam/
SzaszVol5/
Test/
bash_tricks.txt
config.json
data.json
files_and_folders
linux-dwarf-pack_0.47.05-r3_amd64.deb
mfs/
term ++close bash -c
test.py
test.vim
vim-colors-solarized/

