[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/pack/packages/start/fzf.vim"]
	path = .vim/pack/packages/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
